.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-limit-container {
  display: flex;
  gap: 10px;
}

.page-limit {
  padding: 10px;
}

.page-limit-text {
  text-align: center;
  padding: 10px;
}

.pagination-nav-container {
  list-style: none;
}

.pagination-bar>.pagination-item {
  background: #fff;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.pagination-bar>.selected {
  --tw-bg-opacity: 1;
  background: rgb(249 115 22 / var(--tw-bg-opacity));
  color: #fff;
}

.pagination-bar>.borderRight {
  border-right: 1px solid grey;
}

.pagination-item {
  cursor: pointer;
  padding: 10px;
  --tw-bg-opacity: 1;
  color: rgb(249 115 22 / var(--tw-bg-opacity));
}

.selected {
  --tw-bg-opacity: 1;
  background: rgb(249 115 22 / var(--tw-bg-opacity));
  color: #fff;
}

.disabled {
  cursor: text;
}

@media screen and (max-width: 540px) {
  .page-limit-container {
    flex-direction: column;
  }

  .pagination-nav-container {
    margin: 0;
    padding: 0;
  }
}